<!DOCTYPE html>
<html>
  <head>
    <title>bem vindo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Pizza <3 </h1>
    <p>Olá meu nome é Vinicius , e eu amo pizza </p>
  </body>
</html>
